<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" rel="stylesheet">
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="background-color: lightgrey;">
   <nav class="navbar navbar-expand-sm bg-light navbar-light" style="height: 58px;">
  <ul class="navbar-nav">
    <li class="nav-item" style="float:right;">
    </li>
  </ul>
</nav>
    <div class = "container" style="margin-top:40px;">
        <h4>Add Push Notification</h4>
    </div>
    <div class = "container" style="border: 2px solid #0000004a; background-color: white;">
    <div style=" margin-top: 6px;" >
            <a  class="btn btn-outline-secondary" href = "/list" style="float:left"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a>
            <button type="button" class="btn btn-danger" style="float:right">Draft</button>
    </div>
    <br>
    <form>
     <hr>
        <div class="form-group col-md-12">
                        <label for="inputState" name = "type">Type</label>
                        <select id="inputState" class="form-control">
                          <option value = "1" selected = "selected">Geo-location based Notification</option>
                          <option value = "2" selected = "selected">Active Geo-location based Notification</option>
                        </select>
                      </div>
    
          
        <div class="form-group" >
          <label for="inputAddress" name = "notificationContent">Notification Content</label>
          <textarea class="form-control" id = "textarea1" placeholder="Type in your push notification message here"></textarea>
        </div>
       
        
        <div class="form-row" style="border: 2px solid #0000004a">
            <div class="form-group col-md-8">
                    <label for="inputState">Content Link</label>
            </div>
            <div class="form-group col-md-6">
                <label for="inputState" name = "menu">Menu</label>
                <select id="inputState1" class="form-control">
                  <option value = "1" selected = "selected">Select Menu</option>
                  <option>...</option>
                </select>
            </div>
          <div class="form-group col-md-6">
            <label for="inputState" name = "content">Content</label>
            <select id="inputState2" class="form-control">
              <option value = "1" selected = "selected">Select Content</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <br><br><br>
          <div class="form-row" style="border: 2px solid #0000004a;">
                <div class="form-group col-md-12" >
                        <label for="inputState">Targeted Recepients</label>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState" name = "userDataField">User Data Field</label>
                    <select id="inputState3" class="form-control">
                      <option value = "1" selected = "selected">All</option>
                      <option>...</option>
                    </select>
                  </div>
              <div class="form-group col-md-6">
                <label for="inputState" style="visibility:hidden">Content</label>
                <select id="inputState4" class="form-control">
                  <option selected>Select</option>
                  <option>...</option>
                </select>
              </div>
            </div>  
            <br><br><br>
            <div class="form-row" style="border: 2px solid #0000004a;">
                    <div class="form-group col-md-12" >
                            <label for="inputState">Set Geo-location Area</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState" name = "country">Country</label>
                        <select id="inputState5" class="form-control">
                          <option value = "1" selected = "selected">Select Country</option>
                          <option value = "2" selected = "selected">India</option>
                          <option value = "3" selected = "selected">Australia</option>
                          <option value = "4" selected = "selected">England</option>
                        </select>
                      </div>
                  <div class="form-group col-md-6">
                    <label for="inputState" name = "state">State</label>
                    <select id="inputState6" class="form-control">
                      <option value = "1" selected = "selected">All States</option>
                      <option value = "2" selected = "selected">Gujrat</option>
                      <option value = "3" selected = "selected">Haryana</option>
                    </select>
                  </div>
                  <div class="form-group col-md-12">
                        <label for="inputState" name = "city">City</label>
                        <select id="inputState7" class="form-control">
                          <option value = "1" selected = "selected">All Cities</option>
                          <option value = "2" selected = "selected">Ahmdabad</option>
                          <option value = "3" selected = "selected">Kurukshetra</option>
                        </select>
                      </div>
                </div> 
      </form>
      <br><br>
      <div class="input-group-text">
            <input type="checkbox">&nbsp; Check this box to only send this notification one time.
      </div>
      <br><br>
    </div>
    <div class="container" style="margin-bottom: 70px; margin-top: 10px;">
            <button type="button" class="btn btn-warning saveDraft" style="float:left">Save As Draft</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-secondary">Activate Now</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-secondary">Cancel</button>
    </div>
</body>
</html>

<script>
    $(document).on('click', '.saveDraft', function(e) {
    e.preventDefault();


    var data = {
      'type':$('#inputState option:selected').text(),
      'notificationContent':$('textarea#textarea1').val(),
      'menu':$('#inputState1 option:selected').text(),
      'content':$('#inputState2 option:selected').text(),
      'userDataField':$('#inputState3 option:selected').text(),
      'country':$('#inputState5 option:selected').text(),
      'state':$('#inputState6 option:selected').text(),
      'city':$('#inputState7 option:selected').text(),
    }
    $.ajax({
      type : 'POST',
      url : '/addPage',
      data : JSON.stringify(data),
       beforeSend: function (xhr) {
           xhr.setRequestHeader('Content-Type', 'application/json');
           xhr.setRequestHeader('Accept', 'application/json');
       },
      success: function(result) {
        console.log(result);
        if (result) {
               $.toast({
                   heading: 'Success',
                   text: "Created",
                   showHideTransition: 'slide',
                   icon: 'success',
                   hideAfter: 1500
               });

               window.setTimeout(function(){
                window.location.reload();;
                }, 2000);
           }
      },
      error: function(error) {
        $.toast({
            heading: 'Error',
            text: "Error found",
            showHideTransition: 'slide',
            icon: 'error',
            hideAfter: 1500
        });
      }
    })
  })
</script>