<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" rel="stylesheet">
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item" style="float:right;">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>
   <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
  <div>
      <i class="fa fa-mobile" aria-hidden="true" style="font-size: 2em;"></i>
  </div>
</nav>
    <div class="container d-flex justify-content-between" style="margin-top: 25px;">
        <p>View Push Notification<p>
        <a class="btn btn-warning nav-link" href="/addPage"><i class="fa fa-plus" aria-hidden="true"></i>
Add Push Notification</a>
    </div>
    <div class = "container border">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Type</th>
                <th>Notification Content</th>
                <th>Sent By</th>
                <th>Date Created</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each admins}}
                <tr>
                    <td>
                        {{#compare this.status '==' "Draft"}}
                        <button type="button" class="btn btn-danger">Draft</button>
                        {{/compare}}
                        {{#compare this.status '==' "Send"}}
                        <button type="button" class="btn btn-success">Send</button>
                        {{/compare}}    
                    </td>
                <td>{{#compare this.type '==' "Geo-location based Notification"}}
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    {{/compare}}
                    {{#compare this.type '==' "Active Geo-location based Notification"}}
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    {{/compare}}
                </td>
                <td>{{this.notificationContent}}</td>
                <td>{{this.sentBy.name}}</td>
                <td>{{this.createdDate}}</td>
                <td><a class="btn editPage" {{#compare this.status '==' "Draft"}} href="/editPage/{{this._id}}" {{/compare}} role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td><a class="btn sendPage" {{#compare this.status '==' "Draft"}} href="/statusChange" {{/compare}} role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn deletePage" value="{{this._id}}"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>
<script src = "http://localhost:3000/javascript/delete.js"></script>